<p>userinfoupdate works!</p>
<!-- <div *ngIf="viewMode; else editable">
    <div *ngIf="currentUser.idC">
        <h4>Complain Detail</h4>
        {{currentUser.idC}}
        <div>
            <label><strong>Type:</strong></label> {{ currentUser.type }}
        </div>
        <div>
            <label><strong>Description:</strong></label>
            {{ currentUser.details }}
        </div>
        <div>
            <label><strong>Active:</strong></label>
            {{ currentUser.active ? "Active" : "Done"}} - {{ currentUser.status}}
        </div>
        <div>
        <a class="text-center" routerLink="{{ currentUser.idC }}" [hidden]="currentUser.active">
            Feedback
        </a>
        </div>
    </div>

    <div *ngIf="!currentUser">
        <br />
        <p>Please click on a Complain...</p>
    </div>
</div> -->