<div class="container">
  <div style="text-align: center;">
    <h2 style="margin-top: 5px;">Manage Users | <a class="btn btn-primary" [routerLink]="['../users/createNew']">Create User</a></h2>
  </div>
  <div>
    <table class="table table-responsive">
      <thead class="thead-dark">
        <tr>
          <th>User ID</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Pincode</th>
          <th>Roles</th>
          <th>Enable</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td> {{user.id}} </td>
          <td> {{user.email}} </td>
          <td> {{user.firstname}} </td>
          <td> {{user.lastname}} </td>
          <td> {{user.phone}} </td>
          <td> {{user.pincode}} </td>
          <td>
            <div *ngFor="let role of user.roles">
              {{role.name.slice(5,8)}}
            </div>
          </td>
          <td>
            <div *ngIf="user.enable === null" class="form-switch">
              <input class="form-check-input" type="checkbox" role="switch" checked disabled>
            </div>
            <div *ngIf="user.enable === true" class="form-switch">
              <input class="form-check-input" type="checkbox" role="switch" checked>
            </div>
            <div *ngIf="user.enable === false" class="form-switch">
              <input class="form-check-input" type="checkbox" role="switch">
            </div>
          </td>
          <td>
            <a class="badge bg-primary" [routerLink]="['../users/userUpdate/', user.id]">Edit</a> |
            <a class="badge bg-danger" (click)="deleteUser(user.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>