<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>
  <!-- <li class="nav-item" role="presentation"> -->
    <div class="p-3">
      <ul class="nav nav-tabs" style="width: 100%;" id="myTab" role="tablist">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
          aria-controls="home" aria-selected="true">Complain</button>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false">Engineer</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
            role="tab" aria-controls="contact" aria-selected="false">Field Work</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="m-3">
            <h2>Total 578 Complain</h2>
          </div>
          <div class="container-fluid">
            <button type="button" class="btn btn-light">All Leads</button>
            <button type="button" class="btn btn-light">Created Date</button>
            <button type="button" class="btn btn-light">Pincode</button>
            <button type="button" class="btn btn-light"><i class="bi bi-file-pdf-fill"></i> Export PDF</button>
          </div>
  
          <!-- ```````````````````````````````````````````````````````````````````````````````````````````````` -->
  
          <div class="m-1 p-2 border border-info border-light rounded">
            <div class="clearfix">
              <form class="d-flex float-start" role="search">
                <input class="form-control me-2" type="search" placeholder="Search By Username" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              <div class="float-end">
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Show 10 of 55
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Show 5 of 55</a></li>
                    <li><a class="dropdown-item" href="#">Show 15 of 55</a></li>
                    <li><a class="dropdown-item" href="#">Show 20 of 55</a></li>
                  </ul>
                </div>
              </div>
            </div>
  
            <!-- ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````` -->
  
            <table id="infoTable" class="table caption-top table-hover">
              <caption style="text-align: center;">List of Complains</caption>
  
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Contact</th>
                  <th scope="col">Address</th>
                  <th scope="col">Complain</th>
                  <th scope="col">Status</th>
                  <th scope="col">Assign-To</th>
                </tr>
              </thead>
  
              <!-- ````````````````````````````````````````````````````````````````````````````````````````````````````````````` -->
  
              <tbody class="table-group-divider">
                <tr>
                  <td scope="row" style="font-weight: bold">1
                  </td>
                  <td>
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <button class="rounded-circle" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                          aria-controls="offcanvasRight" 
                          style="text-align: center; border-color: transparent; background-color: pink; height: 40px; width: 40px; font-size: 20px; font-family: 'Courier New', Courier, monospace; font-weight: bold;">AY</button>
                      </div>
                      <div class="flex-grow-1 ms-1">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Asshma Sheak</div>
                          <i class="bi bi-clock"></i> Today at 11:30 PM
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="flex-grow-1">
                      <div class="fw-bold"><i class="bi bi-envelope"></i> abcd@gmail.com</div>
                      <i class="bi bi-telephone"></i> (+91) 9833 651 895
                    </div>
                  </td>
                  <td>
                    <div class="flex-grow-1">
                      <div class="fw-bold"><i class="bi bi-geo-alt"></i> B-36, Kranti Nagar</div>
                      <i class="bi bi-geo"></i> 400 101
                    </div>
                  </td>
                  <td>
                    <div class="flex-grow-1">
                      <div class="fw-bold">#-400101</div>
                      <small>Cannot Call, but Receive</small>
                    </div>
                  </td>
                  <td>
                    <div style=" margin-top: 10px">
                      <button class="rounded-pill">RAISED</button>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img src="https://tse3.mm.bing.net/th?id=OIP.2i5UaEHaQM3PYAYXQyM1AAAAAA&pid=Api&P=0" alt="..."
                          height="50px" class="rounded-circle" class="btn btn-primary" type="button"
                          data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                      </div>
                      <div class="flex-grow-1 ms-1">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Engineer</div>
                          <i class="bi bi-clock"></i> ID-2002
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
  
            </table>
  
            <!-- <div id="snackbar">
              <i class="bi bi-check2-square" style="color: blue;"> 2 Item's Selected </i> <i class="bi bi-file-x" style="color: white;">Unselect All</i>  <i style="color: orange;">PDF</i> <i class="bi bi-person-check-fill" style="color: green;"> Assign-To </i> <i class="bi bi-trash" style="color: red;"> Delete</i> </div>
            </div> -->
  
            <div class="card" id="snackbar">
              <div class="card-body">
                This is some text within a card body.
              </div>
            </div>
  
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>
  
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          <h5 class="offcanvas-title" id="offcanvasRightLabel">Client Details</h5>
        </div>
        <div class="offcanvas-body">
          <div class="m-1 p-2 border border-info rounded ">
            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <input type="range" class="form-range" min="0" max="5" id="customRange2">      
              <h5 class="card-title">Amina Shaikh</h5>
                <strong>Client ID: 22222222</strong> 
                  <small>abcd@gmahjgjhgjhgjhil.com <br> (+91) 9833 651 895 <br> B-36, Kranti Nagar 400 101</small>      
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Complain ID:</strong>  #R12334</li>
                <li class="list-group-item"><strong>Type:</strong>  Cannot Call, but Receive</li>
                <li class="list-group-item"><strong>Complain Details:</strong> <br>ring-boot for the development of
                  java-based services, and UI using Angular and inte A third item</li>
              </ul>
  
              <div class="card-body">
                <strong>Assigned To </strong><a href="#" class="card-link">Engineer</a> <br>
                <strong>Note:</strong> <br>
                They want to have an online complaint
                management system where the customers can raise complaints regarding their landlines and
                broadband services.
                <a href="#" class="card-link">Reply</a>
              </div>
            </div>
            
  
            <div class="card-body">
              <hr>
              <strong>Client Feedback </strong> <br>
              They want to have an online complaint
              management system where the customers can raise complaints regarding their landlines and
              broadband services.
              <a href="#" class="card-link">Reply</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="m-1 p-2 border border-info rounded ">
            <div class="card" style="width: 20rem;">
              <img src="https://tse3.mm.bing.net/th?id=OIP.2i5UaEHaQM3PYAYXQyM1AAAAAA&pid=Api&P=0" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">Engineer : Amina Shaikh</h5>
                <strong>Employee ID: 22222222</strong> 
                  <small>abcd@gmahjgjhgjhgjhil.com <br> (+91) 9833 651 895 <br> B-36, Kranti Nagar 400 101</small>      
              </div>
            </div>
            
  
            <div class="card-body">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Accordion Item #2
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Accordion Item #3
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
  
    </div>
  