<div class="container" style="text-align: center;">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-floating mb-3 mt-3">
                <h5>Raise Complain</h5> 
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" required [(ngModel)]="complain.type">
                    <option selected>Select Problem Type</option>
                    <option value="Cannot make a call, but receive a call">Cannot make a call, but receive a call</option>
                    <option value="Can make calls, but cannot receive calls">Can make calls, but cannot receive calls</option>
                    <option value="Neither make nor receive calls">Neither make nor receive calls</option>
                    <option value="Other's">Other's</option>
                </select>
                <label for="floatingSelect">Complain Type</label>
            </div>
            <div class="form-floating mb-3">
                <textarea type="text" class="form-control" id="details" required [(ngModel)]="complain.details" name="details"
                    placeholder="Problem Details" style="height: 100px"></textarea>
                <label for="details">Problem Details</label>
            </div>
            <div class="row align-items-start">
                <div class="form-floating mb-3 col">
                    <input type="text" class="form-control" id="firstname" placeholder="firstname" [(ngModel)]="userContent.firstname"/>
                    <label for="firstname">First Name</label>
                </div>
                <div class="form-floating mb-3 col">
                    <input type="text" class="form-control" id="lastname" placeholder="lastname" [(ngModel)]="userContent.lastname" >
                    <label for="lastname">Last Name</label>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="form-floating mb-3 col">
                    <input type="text" class="form-control" id="phone" placeholder="phone" [(ngModel)]="userContent.phone"/>
                    <label for="phone">Phone Number</label>
                </div>
                <div class="form-floating mb-3 col">
                    <input type="text" class="form-control" id="pincode" placeholder="pincode" [(ngModel)]="userContent.pincode">
                    <label for="pincode">Pincode</label>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="address" placeholder="address" [(ngModel)]="userContent.address">
                <label for="address">Address</label>
            </div>
            <div class="form-floating mb-3 align-middle">
                <button (click)="saveComplain()" class="btn btn-success">Submit</button>
            </div>
        </div>

        <div *ngIf="submitted">
            <h4>Tutorial was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newComplain()">Add</button>
        </div>
    </div>
</div>