<div class="container" style="padding-top: 60px;">
    <div style="text-align: center;">
    <img src="../../assets/all/404.png" style="max-height: 450px; max-width: 450px;" />
    <h1 style="margin-top: 30px;">Page Not Found</h1>
    <a class="btn btn-outline-primary" type="submit" routerLink="/home">Go to ABC Telecom Ltd.</a>
    </div>
</div>

<div class="container text-center" style="padding-top: 20px;">
    <a class="navbar-brand" href="index.html"><img
            src="https://upload.wikimedia.org/wikipedia/commons/2/2f/ABC-2021-LOGO.svg" alt="ABC Logo"
            style="max-height: 40px;"/></a>
    <h1> ABC Telecom Ltd. </h1>
    <small>ABC Telecom Ltd. is one of India’s major telecommunication service providers offering landline,
        mobile phone and Fiber optic broadband services across the country.
    </small>
</div>