<div *ngIf="viewMode; else editable">
    <div *ngIf="currentComplain.idC">
        <h4>Complain Detail</h4>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4" style="margin-top: 30px;">
                    <img src="../../assets/all/complainlist.png" class="img-fluid rounded-start" alt="..."
                        height="200px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Complain No. {{currentComplain.idC}} </h4>
                        <h5 class="card-text">{{ currentComplain.type }}</h5>
                        <small> {{ currentComplain.details }}</small>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="card-footer bg-transparent border-success" [hidden]="currentComplain.active">
                        Provide <a class="text-center" routerLink="{{ currentComplain.idC }}"
                            [hidden]="currentComplain.active">Feedback</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!currentComplain">
        <br />
        <p>Please click on a Complain...</p>
    </div>
</div>

<ng-template #editable>
    <div *ngIf="currentComplain.idC" class="edit-form">
        <div style="width: 500px; min-width: 500px;"
            class="border border-secondary rounded p-3 position-absolute top-50 start-50 translate-middle">
            <div style="text-align: center;">
                <h4>Provide Feedback</h4>
            </div>
            <form>
                <div class="form-group p-2">
                    <label for="title">Type</label>
                    <input type="textarea" class="form-control" disabled id="title" [(ngModel)]="currentComplain.type"
                        name="title" />
                </div>
                <div class="form-group p-2">
                    <label for="feedback">Feedback</label>
                    <textarea class="form-control" placeholder="Leave a feedback here" id="feedback"
                    [(ngModel)]="currentComplain.feedback"
                        style="height: 100px"></textarea>
                </div>
                <div class="form-group p-2" style="text-align: center;">
                    <button type="button" class="btn btn-success" (click)="savefeedback()">Success</button>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="!currentComplain.idC">
        <br />
        <p>Cannot access this Tutorial...</p>
    </div>
</ng-template>