<div class="col-md-12" >
  <div class="position-absolute top-50 start-50 translate-middle" style="max-width: 500px;">
    <div class="main-block" style="margin-top: 30px;">
      <h1 style="text-align: center;">Forget Password</h1>
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-floating mb-3 m-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
                  [(ngModel)]="form.email" required email #email="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && email.errors }">
              <label for="floatingInput">E-mail</label>
              <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
                  <div *ngIf="email.errors['required']" class="form-text link-warning">Email is required</div>
                  <div *ngIf="email.errors['email']" class="form-text link-warning">
                      Email must be a valid email address
                  </div>
              </div>
          </div>
          <div class="form-floating m-3 text-center">
              <button type="submit" class="btn btn-primary mb-3">Forget Password</button>
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="f.submitted && isForgetPasswordFailed">
              Forget Password failed!<br />{{ errorMessage }}
          </div>
      </form>
      <div class="alert alert-success" role="alert" *ngIf="isSuccessful">
          Forget Password is successful Please Check your Mail !
      </div>
      <div class="text-center">
          <a class="navbar-brand" href="index.html"><img
                  src="https://upload.wikimedia.org/wikipedia/commons/2/2f/ABC-2021-LOGO.svg" alt="ABC Logo"
                  style="max-height: 35px;" /></a>
          <p>ABC Telecom Ltd.</p>
      </div>
    </div>
  </div>
</div>

