<div class="p-3">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="m-1 p-2 border border-info border-light rounded">
        <div class="clearfix">
          <div class="d-flex float-start">
            <div class="dropdown me-2">
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                All Leads
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Active</a></li>
                <li><a class="dropdown-item" href="#">Date</a></li>
                <li><a class="dropdown-item" href="#">Pincode</a></li>
              </ul>
            </div>
            <div class="me-2">
              <button type="button" class="btn btn-outline-danger"><i class="bi bi-file-pdf-fill"></i> Export
                PDF</button>
            </div>
            <form class="d-flex float-start" role="search">
              <input class="form-control me-2" type="search" placeholder="Search By Username" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
          <div class="float-end">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Show 10 of 55
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Show 5 of 55</a></li>
                <li><a class="dropdown-item" href="#">Show 15 of 55</a></li>
                <li><a class="dropdown-item" href="#">Show 20 of 55</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- ```````````````````````````````````````````````````````````````````````````````````````````````` -->

        <div class="m-1 p-2 border border-info border-light rounded">
          <div class="clearfix">

            <div class="float-end">

            </div>
          </div>

          <table id="infoTable" class="table caption-top table-hover">
            <caption style="text-align: center;">
                <h4>Total 578 Complain</h4>
            </caption>
            <thead>
              <tr>
                <th scope="col">C Id.</th>
                <th scope="col">U Id.</th>
                <th scope="col">Pincode</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
                <th scope="col">Details</th>
                <th scope="col">Feedback</th>
                <th scope="col">Assign-To</th>
              </tr>
            </thead>

            <!-- ````````````````````````````````````````````````````````````````````````````````````````````````````````````` -->

            <tbody class="table-group-divider" *ngFor="let complain of allComplains; let i = index">
              <tr>
                <td scope="row" class="rounded-3" style="font-weight: bold">{{complain.idC}}
                </td>
                <td> 
                  <button (click)="getUser(complain.uId)" type="button" class="btn btn-outline-info" [routerLink]="['../userInfo/',complain.uId]">{{complain.uId}}</button>
                </td>
                <td>{{complain.pincode}}
                </td>
                <td>
                  <div class="btn btn-outline-secondary">{{complain.status}}</div>
                </td>
                <td> <small> {{complain.type}} <br>
                    {{complain.createdOn}}</small>
                </td>
                <td> <small><small>
                      {{complain.details}}
                      <!-- of Table1 with Table2 to check if anything <br> matches based on the condition provided in  -->
                    </small></small>
                </td>
                <td>{{complain.pincode}}
                </td>
                <!-- <td>
                  <button type="button" class="btn btn-outline-success" (click)="updateSubmitTest(complain)">Add Employee</button>
                </td> -->
                <td>
                  <div *ngIf="complain.workers.length > 0; else elseWorker">
                    <div *ngFor="let workers of complain.workers.slice(1).reverse(); let i = index">
                        <div class="d-flex btn btn-outline-secondary">
                          <div class="flex-shrink-0">
                            <img src="https://tse3.mm.bing.net/th?id=OIP.2i5UaEHaQM3PYAYXQyM1AAAAAA&pid=Api&P=0" alt="..."
                              height="50px" [routerLink]="['../userInfo/',workers.id]">
                          </div>
                          <div class="flex-grow-1 ms-1">
                            <div class="me-auto" style="width: 40px; ">
                              <i class="bi bi-clock"></i> ID-{{workers.id}}
                                <small>
                                <small class="fw-bold "  *ngFor="let roles of workers.roles; let i = index">
                                  {{roles.name.slice(5)}}
                                </small>
                                </small>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <ng-template #elseWorker>
                    <a class="btn btn-primary" [routerLink]="['compUpdate/', complain.idC]">Edit</a>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>