<table id="infoTable" class="table caption-top table-hover">
    <caption style="text-align: center;">
        <!-- <label for="website">Website:</label> -->
        <h5>List of FieldWorker</h5>
    </caption>

    <thead>
        <tr>
            <th scope="col">U Id.</th>
            <th scope="col">Username</th>
            <th scope="col">Pincode</th>
            <th scope="col">Email</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Roles</th>
        </tr>
    </thead>
    <!-- ````````````````````````````````````````````````````````````````````````````````````````````````````````````` -->
    <tbody class="table-group-divider" *ngFor="let engineer of allEngineer; let i = index">
        <tr [routerLink]="['../userInfo/',engineer.id]">
            <td scope="row" style="font-weight: bold">{{engineer.id}}
            </td>
            <td>{{engineer.username}}
            </td>
            <td>{{engineer.pincode}}
            </td>
            <td>{{engineer.email}}
            </td>
            <td>{{engineer.firstname}}
            </td>
            <td>{{engineer.lastname}}
            </td>
            <td>{{engineer.phone}}
            </td>
            <td>{{engineer.address}}
            </td>
            <td>
                <small class="fw-bold "  *ngFor="let roles of engineer.roles; let i = index">
                    {{roles.name.slice(5)}},
                </small>
                <!-- <a class="btn btn-primary" [routerLink]="['compUpdate/', complain.idC]">Edit</a> -->
                <!-- <button type="button" class="btn btn-outline-success" (click)="updateDetails(complain, complain.idC)" >Submit</button> -->
            </td>
        </tr>
    </tbody>
</table>