<div class="container" style="padding-top: 80px;">
  <div class="row">
      <div class="col-sm-6 col-md-5 col-lg-6" style="text-align: left;">
          <h1 style="
                    color: #4CAF50;
                  ">Online </h1>
          <h1> Complain Portal</h1>
          <p>The only place where your complaint are precious to us! If you have a complaints with our service, or
              feedback please feel free to express
          </p>
          <div>
              <a role="button" class="btn btn-outline-primary" type="submit" routerLink="/register">Raise
                  Complain</a>
          </div>
      </div>
      <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0"><img src="../../assets/all/C.png" /></div>
  </div>
</div>

<div class="container text-center" style="padding-top: 100px;">
  <a class="navbar-brand" href="index.html"><img
          src="https://upload.wikimedia.org/wikipedia/commons/2/2f/ABC-2021-LOGO.svg" alt="ABC Logo"
          style="max-height: 40px;" /></a>
  <h1> ABC Telecom Ltd. </h1>
  <small>ABC Telecom Ltd. is one of India’s major telecommunication service providers offering landline,
      mobile phone and Fiber optic broadband services across the country.
  </small>
</div>