<table id="infoTable" class="table caption-top table-hover">
    <caption style="text-align: center;">
        <!-- <label for="website">Website:</label> -->
        <h5>List of Users</h5>
    </caption>

    <thead>
        <tr>
            <td scope="row">
                <input class="form-check-input" type="checkbox" id="flexCheckIndeterminate">
            </td>
            <th scope="col">U Id.</th>
            <th scope="col">Pincode</th>
            <th scope="col">Email</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Complains</th>
        </tr>
    </thead>
    <!-- ````````````````````````````````````````````````````````````````````````````````````````````````````````````` -->
    <tbody class="table-group-divider" *ngFor="let user of allUsers; let i = index">
        <tr>
            <td scope="row">
                <input class="form-check-input" type="checkbox" id="flexCheckIndeterminate">
            </td>
            <td scope="row" style="font-weight: bold">{{user.id}}
            </td>
            <td>{{user.pincode}}
            </td>
            <td>{{user.email}}
            </td>
            <td>{{user.firstname}}
            </td>
            <td>{{user.lastname}}
            </td>
            <td>{{user.phone}}
            </td>
            <td>{{user.address}}
            </td>
            <td>{{user.userComplain}}
            </td>

            <td>
                <!-- <a class="btn btn-primary" [routerLink]="['compUpdate/', complain.idC]">Edit</a> -->
                <!-- <button type="button" class="btn btn-outline-success" (click)="updateDetails(complain, complain.idC)" >Submit</button> -->
            </td>
        </tr>
    </tbody>
</table>