<table id="infoTable" class="table caption-top table-hover">
    <caption style="text-align: center;">
        <!-- <label for="website">Website:</label> -->
        <h5>List of Users</h5>
    </caption>

    <thead>
        <tr>
            <th scope="col">U Id.</th>
            <th scope="col">Username</th>
            <th scope="col">Pincode</th>
            <th scope="col">Email</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Roles</th>
        </tr>
    </thead>
    <!-- ````````````````````````````````````````````````````````````````````````````````````````````````````````````` -->
    <tbody class="table-group-divider" *ngFor="let user of allUsers; let i = index">
        <tr [routerLink]="['../userInfo/',user.id]">
            <td scope="row" style="font-weight: bold">{{user.id}}
            </td>
            <td>{{user.username}}
            </td>
            <td>{{user.pincode}}
            </td>
            <td>{{user.email}}
            </td>
            <td>{{user.firstname}}
            </td>
            <td>{{user.lastname}}
            </td>
            <td>{{user.phone}}
            </td>
            <td>{{user.address}}
            </td>
            <td>
                <small class="fw-bold "  *ngFor="let roles of user.roles; let i = index">
                    {{roles.name.slice(5)}},
                </small>
            </td>
        </tr>
    </tbody>
</table>