<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <div class="main-block" style="margin-top: 30px;">
      <h1 style="text-align: center;">Sign Up</h1>
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-floating mb-3 m-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="UserName" name="username"
                  [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
              <label for="floatingInput">User Name</label>
              <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
                  <div *ngIf="username.errors['required']" class="form-text link-warning">Username is required</div>
                  <div *ngIf="username.errors['minlength']" class="form-text link-warning">
                      Username must be at least 3 characters
                  </div>
                  <div *ngIf="username.errors['maxlength']" class="form-text link-warning">
                      Username must be at most 20 characters
                  </div>
              </div>
          </div>
          <div class="form-floating mb-3 m-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
                  [(ngModel)]="form.email" required email #email="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && email.errors }">
              <label for="floatingInput">E-mail</label>
              <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
                  <div *ngIf="email.errors['required']" class="form-text link-warning">Email is required</div>
                  <div *ngIf="email.errors['email']" class="form-text link-warning">
                      Email must be a valid email address
                  </div>
              </div>
          </div>
          <div class="form-floating m-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
                  [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
              <label for="floatingPassword">Password</label>
              <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
                  <div *ngIf="password.errors['required']" class="form-text link-warning">Password is required</div>
                  <div *ngIf="password.errors['minlength']" class="form-text link-warning">
                      Password must be at least 6 characters
                  </div>
              </div>
          </div>
          <div class="form-floating m-3 text-center">
              <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="f.submitted && isSignUpFailed">
              Signup failed!<br />{{ errorMessage }}
          </div>
      </form>
      <div class="alert alert-success" role="alert" *ngIf="isSuccessful">
          Your registration is successful!
      </div>
      <div class="text-center">
          <a class="navbar-brand" href="index.html"><img
                  src="https://upload.wikimedia.org/wikipedia/commons/2/2f/ABC-2021-LOGO.svg" alt="ABC Logo"
                  style="max-height: 35px;" /></a>
          <p>ABC Telecom Ltd.</p>
      </div>
    </div>
  </div>
</div>